* {
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

.menu {
    background-color: rgb(20, 21, 24);
    color: white;
    width: 100%;         
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 100;
    align-items: center;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
} 

.menu-left{
    width: 300px;
    animation: wid 0.5s linear 1;
}

.menu-left p {
    float: left;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
}

.menu-left img {
    float: left;
    background-size: 20px 20px;
    width: 23px;
    height: 23px;
    padding: 0;
}

.menu-left img:hover{
    cursor: pointer;
}

.menu-right{
    width: 300px;
}

.menu-right nav {
    text-align: center;
    display: none;
}

.menu-right nav:first-child {
    display: block;
}

.menu-list {
    min-width: 400px;
    background-color: transparent;
    overflow: hidden;
    transform-style: preserve-3d;
}

.menu-list nav{
    color: white;
    float: left;
    text-align: center;
    user-select: none;
    width: 90px;
    margin: 0 5px 0 5px;
    line-height: 35px;
    box-shadow: inset -2px -2px 2.5px grey;
    cursor: pointer;
    animation: wid 0.5s linear 1;
}

.menu-right nav:first-child:hover .menu-right>nav{
    display: block;
}

.contain {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    color: white;
    float: right;
    font-size: 1.3em;
}

.main-con {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-con iframe{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.main-con iframe:first-child{
    display: block;
}

.contain iframe {
    overflow: scroll;
}

@keyframes wid{
    from{
        transform: translateY(-10px) rotateX(-60deg);
    }
    to{
        transform: translateY(0) rotateX(0);
    }
}